/MainActivityModel.class
/MainActivityPresenter.class
/MainActivityView.class
/PostActivityView.class
/Event.class
/User.class
/Announcement.class
/Complaint.class
/Upload.class
/Subscription.class
/Attendees.class
/Feedback.class
/Metrics.class
/Base.class
/BaseEvent.class
